<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <!-- change the configuration below -->    
    <add key="mqtt-endpoint" value="<replace>.amazonaws.com>" /> <!-- take from the downloaded connectionDetails.txt -->
    <add key="http-base-endpoint" value="https://api.dev.<replace>.biot-med.com" /> <!-- will be provided by bioT -->
    <add key="client-id" value="<replace>" /> <!-- take from the downloaded connectionDetails.txt -->
    <add key="cert-pass" value="<replace>" /> <!-- password entered in the pem convertion to pfx -->
    
    <add key="cert-subfolder" value="certs" /> 
    <add key="ca-certificate-name" value="<replace>-caCertificate.crt" />
    <add key="client-certificate-name" value="<replace>-certificate.crt" />
    <add key="client-certificate-pfx-name" value="<replace>.cert.pfx" />
    <add key="client-private-key-name" value="<replace>privateKey.pem" />

    <!-- in the case you want to upload a file from a device -->
    <add key="assets-subfolder" value="assets" />
    <add key="assets-sample-file" value="sample-file1.json" /> <!-- name of file to be uploaded from the device -->

    <!-- No need to change -->
    <add key="mqtt-port" value="8883" />
    <add key="mqtt-clientid-to-device-token-topic" value="{clientId}/to-device/token" />
    <add key="mqtt-clientid-from-device-token-topic" value="{clientId}/from-device/token" />
    <add key="mqtt-clientid-from-device-status-topic" value="{clientId}/from-device/status" />
    <add key="mqtt-configuration-update-delta-topic" value="$aws/things/{clientId}/shadow/name/configuration/update/delta" />

    <!-- Change when need to switch environment (dev, int, stg, prod)-->
    <add key="environment-type" value="dev" /> 

  </appSettings>
</configuration>